In [15]:
import pandas as pd

In [16]:
subject_info = pd.read_csv('data/subject_info.csv')
test_measure = pd.read_csv('data/test_measure.csv')
subject_info

      Age  Weight  Height  Humidity  Temperature  Sex   ID ID_test
0    10.8    48.8   163.0      39.0         20.7    1  543   543_1
1    11.8    41.0   150.0      41.0         22.3    1   11    11_1
2    12.2    46.0   160.0      37.0         21.5    0  829   829_1
3    13.2    71.0   190.0      49.0         23.8    1  284   284_1
4    13.7    53.8   169.7      40.0         25.3    0  341   341_1
..    ...     ...     ...       ...          ...  ...  ...     ...
987  59.1    64.7   172.0      38.0         24.4    0  856   856_2
988  59.7    65.2   172.0      51.0         16.8    0  856   856_3
989  61.3   102.0   185.0      56.0         20.5    0  390   390_1
990  61.6    74.0   169.0      46.0         23.9    0  596   596_1
991  63.0    83.5   171.5      48.0         22.2    0  296   296_1

[992 rows x 8 columns]

In [17]:
df = subject_info.merge(test_measure, on='ID_test')
df = df[df['ID_test'].str.endswith('_1')]
df

,Age,Weight,Height,Humidity,Temperature,Sex,ID_x,ID_test,time,Speed,HR,VO2,VCO2,RR,VE,ID_y
0,10.8,48.8,163.0,39.0,20.7,1,543,543_1,0,0.0,NaN,585.0,566.0,13,21.5,543
1,10.8,48.8,163.0,39.0,20.7,1,543,543_1,3,0.0,NaN,223.0,215.0,19,9.4,543
2,10.8,48.8,163.0,39.0,20.7,1,543,543_1,10,0.0,58.0,309.0,302.0,9,10.5,543
3,10.8,48.8,163.0,39.0,20.7,1,543,543_1,13,0.0,NaN,280.0,272.0,12,10.2,543
4,10.8,48.8,163.0,39.0,20.7,1,543,543_1,17,0.0,96.0,294.0,283.0,13,10.6,543
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
575082,63.0,83.5,171.5,48.0,22.2,0,296,296_1,747,5.0,109.0,1346.0,1569.0,24,55.3,296
575083,63.0,83.5,171.5,48.0,22.2,0,296,296_1,749,5.0,109.0,1346.0,1561.0,24,54.7,296
575084,63.0,83.5,171.5,48.0,22.2,0,296,296_1,752,5.0,109.0,1381.0,1578.0,24,54.5,296
575085,63.0,83.5,171.5,48.0,22.2,0,296,296_1,754,5.0,110.0,1356.0,1533.0,24,52.9,296
575086,63.0,83.5,171.5,48.0,22.2,0,296,296_1,757,5.0,109.0,1364.0,1538.0,24,53.1,296

In [18]:
# get each participant's max speed

max_speeds = df.groupby('ID_test')['Speed'].idxmax()
final_tests = df.loc[max_speeds]
final_tests['Speed'] = final_tests['Speed'] / 1.60934
final_tests.head()

,Age,Weight,Height,Humidity,Temperature,Sex,ID_x,ID_test,time,Speed,HR,VO2,VCO2,RR,VE,ID_y
512421,42.1,76.0,167.0,39.0,17.60,0,100,100_1,844,10.128376,168.0,3158.0,3825.0,56,113.7,100
498110,41.0,81.0,173.0,39.0,17.60,0,101,101_1,829,10.004101,171.0,3041.0,3652.0,47,118.7,101
377430,31.9,108.0,179.0,47.0,18.09,0,102,102_1,676,8.450669,197.0,3762.0,4259.0,42,116.9,102
392513,33.0,101.0,199.0,47.0,18.09,0,103,103_1,672,9.693415,185.0,3717.0,4161.0,61,146.7,103
367378,31.4,78.0,176.0,48.0,21.50,0,104,104_1,963,11.743945,167.0,3483.0,4264.0,49,117.0,104

In [19]:
# convert units for weight to pounds and height to inches
final_tests['Weight'] = final_tests['Weight'] * 2.20462
final_tests['Height'] = final_tests['Height'] * 0.393701
final_tests.head()

,Age,Weight,Height,Humidity,Temperature,Sex,ID_x,ID_test,time,Speed,HR,VO2,VCO2,RR,VE,ID_y
512421,42.1,167.55112,65.748067,39.0,17.60,0,100,100_1,844,10.128376,168.0,3158.0,3825.0,56,113.7,100
498110,41.0,178.57422,68.110273,39.0,17.60,0,101,101_1,829,10.004101,171.0,3041.0,3652.0,47,118.7,101
377430,31.9,238.09896,70.472479,47.0,18.09,0,102,102_1,676,8.450669,197.0,3762.0,4259.0,42,116.9,102
392513,33.0,222.66662,78.346499,47.0,18.09,0,103,103_1,672,9.693415,185.0,3717.0,4161.0,61,146.7,103
367378,31.4,171.96036,69.291376,48.0,21.50,0,104,104_1,963,11.743945,167.0,3483.0,4264.0,49,117.0,104

In [21]:
final_tests.to_csv('data/output.csv', index=False)